/* page title styles */

#page__title{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.page__title__text{
    font-size: 2.2rem;
    color: var(--black-1);
}
@media only screen and (min-width:768px){
    #page__title{
        padding-top: 5rem;
        padding-bottom: 3rem;
    }
    .page__title__text{
        font-size: 3.6rem;
    }
}
/* our specials menu styles */
#ourSpecials{
    padding-top: 10rem;
}
.ourSpecials__wrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.ourSpecials__left{
    display: flex;
    gap: 1rem;
}
.ourSpecials__item{
    background-color: var(--lightGreen-1);
    padding: 1.2rem;
    padding-top: 5rem;
    border-radius: 12px;
    width: 45%;
    margin: 0 auto;
}
.ourSpecials__item__img{
    margin-top: calc(-50% -2rem); 
    margin-bottom: 2rem;
    border-radius: 12px;
    height: 150px;
    overflow: hidden;
}
.ourSpecials__item__img img{
    object-fit: cover;
}
.ourSpecials__item__title{
    font-size: 1.4rem;
    color: var(--black-1);
    font-weight: 600;
    margin-bottom: 1rem;
}
.ourSpecials__item__price{
    color: var(--green-1);
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.ourSpecials__item__stars{
    height: 1.5rem;
    width: max-content;
    margin-bottom: 1rem;
}
.ourSpecials__item__text{
    font-size: 1.4rem;
    color: var(--black-2);
    font-weight: 500;
}
.ourSpecials__title{
    font-size: 1.8rem;
    color: var(--black-1);
    margin-bottom: 1.5rem;
}
.ourSpecials__text{
    font-size: 1.4rem;
    color: var(--black-2);
    margin-bottom: 1rem;
}
@media only screen and (min-width: 768px){
    #ourSpecials{
        padding-top: 15rem;
    }
    #ourSpecials .container{
        max-width: 900px;
    } 
    .ourSpecials__wrapper{
        flex-direction: row;
    }
    .ourSpecials__right{
        flex: 2;
    }
    .ourSpecials__left{
        flex: 4;
        gap: 2rem;
    }
    .ourSpecials__item{
        padding: 2rem;
        width: 45%;
    }
    .ourSpecials__item__title{
        font-size: 2.4rem;
        line-height: 1.4em;
        margin-bottom: 1.5rem;
    }
    .ourSpecials__item__price{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    .ourSpecials__item__stars{
        margin-bottom: 2rem;
    }
    .ourSpecials__item__text{
        font-size: 1.6rem;
    }
    .ourSpecials__title{
        font-size: 3.6rem;
        margin-bottom: 1.5rem;
    }
    .ourSpecials__text{
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }
}
@media only screen and (max-width:300px){
    .ourSpecials__left{
        flex-wrap: wrap;
        gap: 10rem;
    }
    .ourSpecials__item{
        width: 100%;
    }
}
/* dish grid styles */
#dishGrid{
    padding-bottom:0; 
}
#dishGrid:last-of-type {
    padding-bottom: 10rem;
}